* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
  }

  .container {
    max-width: 76%;
    margin: auto;
  }

  .header {
      background-color: #080808f2;
      height: 80px;
  }

  .header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/janko-ferlic-sfL_QOnmy00-unsplash.jpg") no-repeat center center;
      background-size: cover;
      padding: 40px 0;
      height: 150vh;
  }

  .main_searchArea {
      margin-bottom: 40px;
      text-align: center;
  }

  .search-results {
      display: flex;
      justify-content: space-between;
      
  }

  .search-query {
    padding: 12px 10px;
    border-radius: 8px;
    width: 400px;
    border: none;
  }

  .search-query:focus {
    outline: none;
  }

  .search-btn, .fav {
    width: 125px;
    margin-left: 10px;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #e19c73;
    color: #080808f2;
    font-weight: 500;
    background-color: #e19c73;
  }

  .search-btn:hover, .fav:hover {
    background-color: #080808f2;
    color: #e19c73;
    cursor: pointer;
  }

  .fav {
    font-size: 14px;
    padding: 8px 5px;
  }

  .search-btn:focus {
    outline: none;
  }

  .item, .show-movie {
    width: 45%;
  }

  .show-movie p {
    color: #fff;
    line-height: 20px;
  }

  .item {
    background: rgba(225,156,115,0.8);
    padding: 20px;
    border-radius: 8px;
  }

  .cover{
    margin: 0 auto;
    display: flex;
  }

  strong {
    display: block;
    margin-top: 27px;
  }

  .desc {
    text-align: justify;
    line-height: 20px;
    margin-top: 27px;
    height: 350px;
    overflow-y: scroll;
  }

  .poster {
    width: 430px;
    height: 550px;
    margin-bottom: 20px;
  }



  /* Starting the Media Query*/
  @media screen and (max-width: 1100px){
    .show-movie {
      width: 45%;
      margin-right: -16px;
      margin-left: -47px;
    }


    .main_searchArea{
      margin-right: 51px;
    }

    .item {
      width: 450px;
      margin-right: -69px;
    }
  }

  @media screen and (max-width: 1040px){
    .item{
    margin-right: -85px;
    }
  }

  @media screen and (max-width: 1020px){
    .show-movie{
    margin-left: -72px;
    }

  }

  @media screen and (max-width: 990px){
    .show-movie{
    margin-left: -83px;
    }

    .item {
      margin-right: -85px;
      width: 400px;

  }
}


@media screen and (max-width: 910px){
.poster {
  width: 395px;
  height: 556px;
}

.show-movie p {
  color: #fff;
  line-height: 27px;
  margin-left: 8px;
}
}

@media screen and (max-width: 870px){
  .poster {
    width: 375px;
    height: 543px;
}

.item {
  margin-right: -85px;
  width: 410px;
}
}

@media screen and (max-width: 850px){
  .poster {
    width: 360px;
    height: 546px;}

    .item {
      margin-right: -79px;
      width: 405px;
    }
  }

  @media screen and (max-width: 830px){
    .item {
      margin-right: -79px;
      width: 389px;
  }

  .poster {
    width: 352px;
    height: 563px;
  }

  .show-movie p {
    margin-left: 9px;
  }
}


@media screen and (max-width: 800px){
  .poster {
    width: 337px;
    height: 579px;
}

.item {
  margin-right: -71px;
  width: 376px;
}
}

@media screen and (max-width: 790px){
  .main_searchArea {
    margin-right: 38px;
}
}



@media (max-height: 736px) and (max-width: 414px) {
  .header {
    height: 56px;
    width: 435px;
}

.logo{
  height: 28px;
  width: 160px;
  margin-left: -48px;
}

.search-btn, .fav {
  font-size: 14px;
  margin-right: -42px;
}

.main {
  width: 105%;
  height: 100%;
}

.search-query {
  width: 206px;
  margin-left: -36px;

}

.fav {
  font-size: 13px;
  margin-right: -22px;
}

.container {
  max-width: 77%;
}

.poster {
  width: 158px;
  height: 258px;
  margin-left: 46px;
}

.show-movie p {
  margin-left: 46px;
  font-size: 12px;
  width: 161px;
}

.item {
  margin-right: -23px;
  width: 227px;
}


/* new style for mobile */
.search-results {
  margin-left: 111px;
}


.show-movie {
  margin-left: -144px;
  width: 396px;
}

.search-results {
  display: block;
}

.show-movie {
  margin-left: -150px;
  width: 390px;
}

.poster {
  width: 276px;
  height: 361px;
}

.show-movie p {
  margin-left: 46px;
  font-size: 13px;
  width: 302px;
}

.item {
  margin-right: 20px;
  width: 350px;
  margin-left: -129px;
  margin-top: 13px;


}

.desc {
    text-align: justify;
    line-height: 18px;
    margin-top: 27px;
    font-size: 15px;
    width: 308px;
    overflow-y: scroll;
}

.main{
  height: 100%;
}

}
